[Desktop Entry]
Name=hot-corners
Comment=No comment
Exec=
Terminal=false
Type=Application
StartupNotify=false
X-GNOME-Autostart-enabled=true
X-Desktop-File-Install-Version=0.26
